[submodule "plp_ui"]
	path = UserInterface
	url = https://github.com/JIAtype/plp_ui.git
[submodule "plp_spam"]
	path = SpamCommentDetection
	url = https://github.com/JIAtype/SpamVideoCommentDetection.git
